body {
	margin: 0 5% 0 5%;
}

#container {
	margin: 0 auto 0 auto;
	max-width: 80ex;
}

p {
	text-align: justify;
	text-indent: 0;
}

p.latest {
	text-align: left;
	margin: 2ex 10% 0 10%;
}

#footer p {
	font-size: smaller;
	text-align: center;
}
